name: Deploy ACMS Backend to GAE

on:
  push:
    branches: [main]
    paths:
      - 'acms-be/**'
      - '.github/workflows/gcp-deployment.yml'

  pull_request:
    branches: [main]
    paths:
      - 'acms-be/**'
      - '.github/workflows/gcp-deployment.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    name: Deploying to Google Cloud

    environment: Production
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: 'acms-be'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ secrets.WIF_PROVIDER}}'
          service_account: '${{ secrets.SA_EMAIL }}'

      - name: Setup app.yaml
        id: write_file
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'app.yaml'
          encodedString: ${{ secrets.GAE_CONFIG }}

      - name: Debug files
        run: ls -la

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to App Engine
        id: deploy
        run: |
          gcloud app deploy -v v2

      - name: Test Deployment
        run: curl "${{ steps.deploy.outputs.url }}"
