name: Deploy ACMS Backend to GAE

on:
  push:
    branches: [main]
    paths:
      - 'acms-be/**'
      - '.github/workflows/gcp-deployment.yml'

  pull_request:
    branches: [main]
    paths:
      - 'acms-be/**'
      - '.github/workflows/gcp-deployment.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    name: Deploying to Google Cloud

    environment: Production

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: acms-be

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ secrets.WIF_PROVIDER}}'
          service_account: '${{ secrets.SA_EMAIL }}'

      - name: Setup app.yaml
        run: |
          echo ${{ secrets.GAE_CONFIG }} > app.yaml

      - name: Deploy to App Engine
        id: deploy
        uses: google-github-actions/deploy-appengine@v0.2.0
        with:
          deliverables: app.yaml
          version: v2
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Test Deployment
        run: curl "${{ steps.deploy.outputs.url }}"
